
body {
    background:#282828;
    color: 	#F0F0F0;
}

h1 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

hr {
    width: 100 px;
    background: #F0F0F0;
    color: #F0F0F0;
}

.jumbotron {
    padding: 2rem;
    background: #363636;
}

.row {
    margin: 2rem;
}